services:
  - type: web
    name: api-TaskTeam
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: JWT_SECRET
        generateValue: true
      - key: DB_FILE
        value: /data/data.sqlite
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
    disk:
      name: data
      mountPath: /data
      sizeGB: 1
